arrow
axe-playwright-python
fastapi
langchain
langchain-community
langchain-openai
langchain-huggingface
markdown
more-itertools
ollama
opensearch-py
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
playwright
psycopg
psycopg-binary
pytailwindcss
python-dotenv
redis
sentence-transformers
sqlmodel