arrow
fastapi
more-itertools
python-dotenv
sqlmodel
psycopg
psycopg-binary
pytailwindcss
langchain
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
markdown
ollama
opensearch-py
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
redis
playwright