{% set title = "Super Conductor" %}
{% set subtitle = "Conduit Transcriptions and Conductor-Style AI Productivity Coach" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{subtitle}}</title>
    <link rel="stylesheet" href="/static/css/output.css" />
    
</head>
<body class="container mx-auto my-2">
    <section class="container flex flex-col h-screen justify-between">
    {% block header %}
    <section>
        <header>
        <section class="grid grid-cols-6">
            <div class="col-span-1">
                <img src="/static/images/Super-Conductor.png" class="rounded-xl" alt="Super Conductor Logo">
            </div> 
            <div class="col-span-2 place-content-end">
                <h1 class="p-3 text-5xl font-extrabold">{{title}}</h1>
                <h2 class="p-3 text-xl font-bold">{{subtitle}}</h2>
            </div>
        </section>
        <nav class="my-3">
            <ul class="flex">
                <li><a class="hover:underline hover:font-bold text-purple-800" href="/">Home</a></li>
                <li><a class="hover:underline hover:font-bold text-purple-800" href="/episodes">Episodes</a></li>
            </ul>
        </nav>
        </header>
    </section>
{% endblock %}
<section class="container mx-auto mb-auto">
    {% block content %}{% endblock %}
</section>
{% block footer %}
<footer class="text-center">
    <hr/>
    <p>Super Conductor is an <a href="github.com/kjaymiller/conduit-transcripts-fastapi">open source project</a> by <a href="https://kjaymiller.com">Jay Miller</a></p>
    <p>Transcription come from <a href="https://relay.fm/conduit">Conduit</a> Recorded by Jay Miller and Kathy Campbell</p>
    <p>Initial Transcriptions Provided by PILIX</p>
    <p>Database Solutions Provided by <a href="https://go.aiven.io/jay-signup" class="text-orange-500">Aiven - Get $400 for your first Month</a></p>
</footer>
{% endblock %}
</body>
</html>
</section>